
.account-container {

    width: 100%;
    height: calc(100vh);
    background-color: rgb(41, 41, 41);
    padding-bottom: 50px;
    

}



section.account-conteudo {
    
    width: 80%;
    margin: 0 auto;
    color: white;
    padding-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

section.account-conteudo h1{

    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 40px;

}


.account-saldo {

    width: 20%;
    min-width: 220px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: black;
    background-color: #fff;
    padding: 50px;
    font-size: 30px;
    border-radius: 10px;
    margin-bottom: 50px;
    text-align: center;

}

.account-saldo .icon-eyes {

    margin-top: -30px;
    margin-left: 200px;
    cursor: pointer;
}

.area-btn {

    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;


}

.area-btn .transfencia {

    margin-top: 50px;
    margin-right: 10px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: black;
    background-color: white;
    font-size: 30px;
    border-radius: 4px;
    margin-bottom: 20px;
    padding: 20px;
    

}

.transfencia .pix {

    width: 80px;
    

}


.transfencia button {

    width: 100%;
    background-color: aqua;
    padding: 15px;
    border: 0;
    border-radius: 4px;
    margin-top: 10px;
    cursor: pointer;

}

.area-input {

    width: 600px;
    height: 450px;
    position: absolute;
    top: 10%;
    background-color: #000000;
    color: #fff;
    padding: 80px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    animation: animation 0.5s;
    

}

.area-input h5 {

    display: flex;
    justify-content: end;

}

.area-input label {
    
    font-size: 20px;
    margin-top: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.area-input input {
    
    padding: 20px 10px;
    border: 0;
    border-radius: 7px;
    outline: none;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 15px;
    text-align: center;
    font-weight: bold;


}

button.close {
    
    display: flex;
    justify-content: end;
    align-items: center;
    width: 30px;
    height: 30px;
    font-size: 20px;
    margin-top: -50px;
    color: red;
    

}

.area-input input:disabled {


    padding: 20px 10px;
    border: 0;
    border-radius: 7px;
    outline: none;
    margin-bottom: 10px;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    color: #000000;
    background-color: #ffffff;
    cursor: not-allowed;


}



.area-input button {


    padding: 15px 10px;
    border: 0;
    border-radius: 5px;
    background-color: rgba(255,255,255, 0.8);
    font-size: 15px;
    cursor: pointer;
    transition: ease-in-out 1s;

}

.area-input button:hover {

    background-color: #fff;

}

button.close {

    width: 30px;
    height: 30px;
    border-radius: 50px;
    position: absolute;
    left: 88.2%;
    background: rgb(0, 182, 238);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: ease-in-out;

}

button.close:hover {

    color: red;

}


button.cancel:hover {

    background-color: red;
    color: white;

}


button.transfer {

    padding: 15px 10px;
    border: 0;
    border-radius: 5px;
    background-color: rgba(0, 240, 128, 0.8);
    font-size: 15px;
    cursor: pointer;
    transition: ease-in-out 1s;

 }

 button.transfer:hover {

    background-color: rgba(0, 255, 136, 0.8);
    color: white;

 }


.area-logout {

    padding-top: 80px;
    width: 90%;
    display: flex;
    justify-content: end;
    align-items: center;
    

 }

button.account-loan {
    
    background-color: rgb(10, 248, 41);
    padding: 12px 15px;
    margin-right: 50px;
    color: black;
    border-radius: 2px;
    border: 0;
    font-size: 18px;
    cursor: pointer;
    transition: ease-in-out 1s;

    &&:hover {

        background-color: rgb(70, 255, 95);

    }

 }

 
button.account-logout {
    
    
    background-color: rgb(199, 52, 52);
    padding: 12px 15px;
    margin-right: 50px;
    color: black;
    border-radius: 5px;
    border: 0;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    transition: ease-in-out 1s;

    &&:hover {

        background-color: rgb(194, 25, 25);

    }
    
}

.area-bot { 

    display: flex;
    position: absolute;
    gap: 30px;
    bottom: 5%;
    left: 80%;
    cursor: pointer;
    animation: enterBot 2s;


}

.area-bot .chat {

    
    width: 250px;
    height: 450px;
    background-color: #fff;
    cursor: auto;
    overflow-y: auto;
    padding-bottom: 20px;
    animation: enterChat 1s;

}

.chat .msg-bot {

    padding: 20px 20px;

}

.chat .msg-bot p {
    
    display: flex;
    justify-content: start;
    font-size: 16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    background-color: #beb7b75d;
    padding: 15px;
    text-align: left;
    letter-spacing: 1px;

}

.chat .msg-user {

    padding: 20px 20px;

}

.chat .msg-user p {
    
    display: flex;
    justify-content: end;
    font-size: 16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    background-color: #beb7b75d;
    padding: 15px;
    text-align: left;
    letter-spacing: 1px;

}

.chat .response-bot {

    padding: 20px 20px;

}

.chat .response-bot p {

    display: flex;
    justify-content: start;
    font-size: 12px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    background-color: #beb7b75d;
    padding: 15px;
    text-align: left;
    letter-spacing: 1px;
    white-space: pre-line;

}


input.input-chat {  

    padding: 20px;
    margin-bottom: 20px;
    width: 70%;
    display: flex;
    margin: 20px auto;
    outline: none;
    border-radius: 4px;
    border: 1px solid #ccc;

}

button.send-msg {

    padding: 10px 12px;
    width: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border: 0;
    text-align: center;
    background-color: rgb(0, 255, 0);
    color: black;
    cursor: pointer;

}

.second-close {

    width: 30px;
    height: 30px;
    border-radius: 20px;
    border: 0;
    background-color: #000000;
    color: #fff;
    float: right;
    margin-top: -40px;
    cursor: pointer;

}


@keyframes enterBot {

    0% {

        opacity: 0;


    } 

    50% {

        opacity: 0;

    }
    
    100% {

        opacity: 1;
        
    }
    
}
@keyframes enterChat{

    0% {

        opacity: 0;


    } 
    
    100% {

        opacity: 1;
        
    }
    
}



@media (max-width: 1700px) {
    .area-bot { 
        
        display: block;
        position: relative;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        
    }

    .area-bot .chat {

        position: absolute;
        width: 100%;
        height: 110vh;
        padding: 70px 0;
        
    }

    input.input-chat {  

        width: 80%;
        
    
    }

    .chat .response-bot p {

        white-space: pre-line;
        font-size: 16px;
        text-align: left;
        letter-spacing: 2px;
    
    }


    

}

@media(max-width: 1300px) {

    .area-input {

       width: 60%;
    
    }

    button.account-loan { 

        margin-top: 30px;

    }

    button.account-logout {

        margin-top: 30px;

    }
    

}


@media(max-width: 1200px) {

    .account-container {

        padding-bottom: 100px;
    
    }

}

@media(max-width: 900px) {

    .area-input {

        margin-top: 10px;
        
    
    }

}

@media(max-width: 600px) {

    .account-container {

        padding-bottom: 200px;
    
    }

    .transfer-h5 {

        margin-top: 30px;
        margin-left: 40px ;

    }
    

}

@keyframes animation {

    0% {

        opacity: 0;

    }
    100% {

        opacity: 100%;

    }
    
}

