.bg-principal {

    margin: 0;
    height: calc(100vh - 15vh);
    background: linear-gradient(to bottom, #000000 50%, #1a1a1a 100%);
  }
  

section.area-conteudo {

    width: 80%;
    margin: 0 auto;
    display: flex;
    color: white;

  }

  aside.area-counteudo-img {

    width: 50%;


  }

  aside.area-counteudo-img img {
  
    width: 80%;
    padding-left: 80px; 

  }

  aside.area-counteudo-text {


    width: 50%;
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


    
  }

  .area-cpf {

    margin-top: 20px;
    font-size: 20px;
    box-sizing: border-box;


  }

  .area-cpf input {

    
    margin-top: 20px;
    width: 100%;
    padding: 20px 0;
    text-indent: 20px;
    border: 0;
    outline: none;
    font-size: 20px;
    


  }

  .area-cpf button {

    
    width: 100%;
    background-color: rgb(51, 157, 255);
    padding: 13px;
    border: 0;
    color: #fff;
    cursor: pointer;
    
    

  }

  section.clients{

    background-color: #15171a;



  }

  section h2 {

    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;

  }

  article.rather-clients {

    width: 80%;
    padding-top: 100px;
    padding-bottom: 100px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;


  }

  section.loan-clients {

    background-color: #15171a;

  }


  article.loan-clients {


    width: 80%;
    padding-top: 50px;
    padding-bottom: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  


  }


  @media(max-width: 1200px) {

    section.area-conteudo {

      width: 100%;
      margin: 0 auto;
      height: calc(100vh - 15vh);
      padding-top: 50px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: white;
  
    }

    aside.area-counteudo-img img {
  
      
     display: none;
  
    }

    article.rather-clients {

      width: 100%;
      padding-top: 100px;
      padding-bottom: 100px;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  
  
    }

    article.rather-clients aside {

      margin-top: 10px;

    }
  


  }
